@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: poppins, sans-serif;
    font-weight: 300;
    color: rgb(187, 35, 35);
}

/* Grid */
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header nav-main" 
    "intro intro"
    "nav-b nav-b"
    "main1 box"
    "main2 youtube"
    "main3 insta"
    "outro outro"
    "footer footer";
}

/* headings & logo */

h1,
h2 {
    font-family: hind Vadodara, sans-serif;
    font-weight: 300, bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(138, 0, 0);
}

#item-a {
    grid-area: header;
    background-color: rgba(245, 16, 16, 0.315);
}

#logo {
    font-size: 250%;
    margin-left: 1.3em;
    /* inset background image */
}

header a {
    text-decoration: none;
}


/* navigation links*/

#item-b {
    grid-area: nav-main;
    justify-self: end;
}

#menu {
    font-size: 110%;
    font-weight: 500;
    letter-spacing: 2.5px;
    padding-right: 1.5em;

    position: sticky;
    top: 0;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    margin-right: 30px;
    display: inline;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}


#menu a:hover {
    text-transform: uppercase;

}

.active {
    text-decoration: underline;
    border-bottom: 1px solid black;
}


/* sections */


#item-c {
    grid-area: intro;
}

#item-d {
    grid-area: nav-b;
}

#item-e {
    grid-area: main1;
}
#item-f {
    grid-area: box;
}

#item-g {
    grid-area: main2;
}

#item-h {
    grid-area: youtube;
}

#item-i {
    grid-area: main3;
}

#item-j {
    grid-area: insta;
}

#item-k {
    grid-area: outro;
}

#item-l {
    grid-area: footer;
}
/*
    "header nav-main" 
    "intro intro"
    "nav-b nav-b"
    "main1 box"
    "main2 youtube"
    "main3 insta"
    "outro outro"
    "footer footer";
    */